# Byte-compiled files
*.pyc
__pycache__/
*.egg-info/

# Virtual environment directory
venv/
.venv/
.tmp-venv/

# Logs
*.log

# Environment variables
.env
uv.lock

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
Untitled.ipynb

.pytest_cache/
.ruff_cache/
.uv-cache/
dist/

.pyre/
.aider*

catboost_info/

context/
